
    @import 'variables.scss';


    .data {

        &-display {
            display: flex;
            justify-content: center;
            gap: 2.5rem 3rem;
            flex-wrap: wrap;
            max-width: 80rem;
            margin: 0 auto;
            padding-top: 4rem;
        }

        &__cards {
            background-color: floralwhite;
            color: $black;
            width: 17rem;
            text-align: center;
            border-radius: 15px;
            transition: 1s ease-in-out;
            box-shadow: 5px 10px 18px #888888;

            &:hover {
                transform: scale(1.1);
                transition: .8s ease-in-out
            }

            &-text {
                display: block;
                margin: .5rem;
                font-size: 3rem;

                &-sm {
                    font-size: 2.2rem;
                    font-weight: lighter;
                    padding-bottom: .8rem;
                }

                &-lrg {
                    font-size: 4rem;
                    font-weight: bold;
                    display: block;
                }
            }
        }
    }

    @media screen and (max-width: 1000px) {
        .data {

            &-display {
                width: 90%;
                gap: 2.5rem 1rem;
            }

            &__cards {
                width: 13.5rem;
            }
        }
    }
