

.navbar {
    height: 6rem;
    background-color: floralwhite;

    &__list {
        padding-left: 2rem;
        display: flex;
        gap: 6rem;

        &-item {
            font-size: 3.5rem;
            padding-top: 1rem;
            color: #222;
            text-decoration: none;
            transition: 1s ease;

            &:hover {
                transform: scale(1.1);
                transition: 1s ease;
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    .navbar {

        &__list-item {
            font-size: 3rem;
        }
    }
}

///Navbar for small screens needs to be redesigned. Possibly hamburger menu
@media screen and (max-width: 340px) {
    .navbar {
        &__list-item {
            font-size: 2.5rem;
        }
    }
}