
@import 'variables.scss';

html {
    height: 100%;
}

body {
    background-color: #93c9ff;
    overflow: auto;
    height: 100%;
}


.timer {
    margin: 5rem auto;
    border: $black solid 6px;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;

    &__display {
        text-align: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8rem;
        color: $black;
    }
}


.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: $black;

    &__icons {
        font-size: 14rem;
        text-align: center;
        line-height: 5rem;
        margin-top: 5rem;
    }

    &__message {
        text-align: center;
        font-size: 3rem;
        padding-bottom: 2rem;
    }
}


@media screen and (max-width: 1000px) {

    .timer {
        height: 30rem;
        width: 30rem;

        &__display {
            font-size: 6rem;
        }
    }
}

@media screen and (max-width: 340px) {
    
    .timer {
        height: 25rem;
        width: 25rem;
    }
}