<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pomo Timer Dashboard</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__list">
            <a class="navbar__list-item" href="/">Logout</a>
            <a class="navbar__list-item" id="save-btn" href="#">Save</a>
        </ul>
    </nav>
 
    <div class="timer">
        <h1 class="timer__display">Start Timer</h1>
    </div>

        <div class="button-container">
            <button class="buttons" name="work" value="1500">Focus</button>
            <button  class="buttons" name="break" value="300">Short Break</button>
            <button  class="buttons" name="break" value="600">Long Break</button>
        </div>
            <button class="buttons" id="reset-btn">Reset</button>

        <div class="total">
        <p class="total__icons"></p>
        <p class="total__message"></p>
        <button class="total__message-btn">Current Study Time</button>
        </div>

        <div class="data-display">
            
            <% user.studyTime.slice((user.studyTime.length - 7), user.studyTime.length).forEach(day => { %>
                <div class="data__cards">
                      <p class="data__cards-text"><span><%= day.date.getMonth() + 1%></span>/<span><%= day.date.getDate()%></span></p> 
                      <p class="data__cards-text-sm"><span class="data__cards-text-lrg"><%= day.time %></span> minutes</p>
                </div>
            <%   }); %>
        </div>
        
    <script src="../js/timer.js"></script>
</body>
</html>



