<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <title>Login Page</title>
</head>
<body>

    <nav class="navbar">
        <ul class="navbar__list">
            <a class="navbar__list-item" href="/">Timer</a>
            <a class="navbar__list-item" href="/login">Login</a>
            <a class="navbar__list-item" href="/register">Sign-up</a>
        </ul>
    </nav>

    <div class="form-container">
        <h1 class="form-container__title">Member Login</h1>
    <form class="reg-form" method="POST" action="/login">
        <input class="reg-form__input" type="text" placeholder="Username" name="username">
        <input class="reg-form__input" type="password" placeholder="Password" name="password">
        <button class="reg-form__btn" type="submit">Login</button>
    </form>
    </div>
</body>
</html>